<div class="featured-article blog-card one-third columns article card show-border-true medium-down--one-half small-down--one-whole has-margin-bottom ">
  {% if article.image %}
  <div class="card-image blog-card__image">
    <figure class="image">
      <a href="{{ article.url }}" title="{{ article.title | escape }}" {% comment %} style="background-image: url({{ article.image | img_url: 'master' }})"{% endcomment %}>
        {% render 'image-element',
          image: article.image,
          alt: article.image.alt,
          stretch_width: true
        %}
      </a>
    </figure>
  </div>
  {% endif %}
  <div class="left-content">
    <div class="card-content blog-card__content">
      <div class="meta-info is-small">
        <div class="meta-info-date is-small">
          <ul class="meta-info-list">
            <li class="meta-info-list__item">
              <span class="featured-article__date">
                {% assign d = article.published_at | date: "%-d" %}
                {% case d %}
                {% when "1" or "21" or "31" %}{{ d }}st
                {% when "2" or "22" %}{{ d }}nd
                {% when "3" or "23" %}{{ d }}rd
                {% else %}{{ d }}th
                {% endcase %}
                {{ article.published_at |date: "%B %Y" }}
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="media">
        <div class="media-content">
          <div class="title">
            <h4 class="featured-article--link"><a style="color: #{{colour[1]}}" href="{{ article.url }}">{{ article.title }}</a></h4>
          </div>
        </div>
      </div>
      <div class="name-title">{{ article.metafields.accentuate.useful }}</div>
      {% if article.excerpt != blank %}
      {% assign postexcerpt = article.excerpt | size %}
      {% if postexcerpt > 150 %}
      {% assign excerptlength = 'lg' %}
      {% elsif postexcerpt <= 150 %}
      {% assign excerptlength = 'sm' %}
      {% endif %}
      <div class="excerpt excerpt-length-{{ excerptlength }} has-margin-bottom">
        {{ article.excerpt }}
        <span class="truncation-fade"></span>
      </div>
      {% endif %}

      <div class="meta-info is-small">
        <div class="blog-card__read-more buttons">
          {% render 'button',
                          label: section.settings.button_label,
          href: article.url,
          type: "link",
          style: section.settings.button_type
          %}
          <div class="none">
          	<a class="read-more" href="{{ article.url }}" title="Hemp for Pets">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>