
{% comment %} Wholesale_Club_Product_Prices Start {% endcomment %}
{% assign base_product = product %}
{% assign base_variant = product.selected_or_first_available_variant %}

{% if shop.metafields.sawholesale['base_price'] == blank %}
  {% assign base_price = 'compare_at_price' %}
{% else %}
  {% assign base_price = shop.metafields.sawholesale['base_price'] %}
{% endif %}

{% assign saw_discount = 0 %}{% assign saw_has_discount = false %}

{% if customer.tags != blank %}
  {% for mf in base_product.metafields.sawholesale %}
    {% capture product_customer_tag %}{{ mf | first | replace: 'discount_', '' }}{% endcapture %}
    {% if customer.tags contains product_customer_tag %}
      {% assign saw_has_discount = true %}
      {% assign discount_key = product_customer_tag | prepend: 'discount_' %}
      {% assign price_key = product_customer_tag | prepend: 'price_' %}
      {% assign saw_discount = base_product.metafields.sawholesale[discount_key] | divided_by: 100.0 %}
    {% endif %}
  {% endfor %}
{% endif %}

{% assign saw_discount = 1 | minus: saw_discount %}

{% if base_price == 'price' or base_variant.compare_at_price == blank  or base_variant.compare_at_price == 0 or base_variant.compare_at_price < base_variant.price %}
  {% assign saw_variant_compare_at_price = base_variant.price %}
{% else %}
  {% assign saw_variant_compare_at_price = base_variant.compare_at_price %}
{% endif %}

{% assign cpe = shop.metafields.sawholesale['cpe'] | default: "true" %}
{% if base_variant.metafields.sawholesale[price_key] != blank and cpe == "true" %}
  {% assign saw_variant_price = base_variant.metafields.sawholesale[price_key] %}
{% else %}
  {% assign saw_variant_price = saw_variant_compare_at_price | times: saw_discount %}
{% endif %}

{% if saw_has_discount == false or saw_variant_price >= saw_variant_compare_at_price %}
  {% assign WCProduct_Price = base_product.price %}
  {% assign WCProduct_ComparePrice = base_product.compare_at_price %}
  {% assign WCProduct_PriceMin = base_product.price_min %}
  {% assign WCProduct_ComparePriceMin = base_product.compare_at_price_min %}
  {% assign WCProduct_PriceMax = base_product.price_max %}
  {% assign WCProduct_ComparePriceMax = base_product.compare_at_price_max %}
  {% assign WCProduct_VariantPrice = base_variant.price %}
  {% assign WCProduct_VariantComparePrice = base_variant.compare_at_price %}
{% else %}   
  {% assign WCProduct_Price = saw_variant_price %}
  {% assign WCProduct_PriceMin = base_product.price_min | times: saw_discount %}
  {% assign WCProduct_PriceMax = base_product.price_max | times: saw_discount %}
  {% assign WCProduct_ComparePrice = saw_variant_compare_at_price %}
  {% if base_product.compare_at_price_min != 0 %}{% assign WCProduct_ComparePriceMin = base_product.compare_at_price_min %}{% else %}{% assign WCProduct_ComparePriceMin = base_product.price_min %}{% endif %}
  {% if base_product.compare_at_price_max != 0 %}{% assign WCProduct_ComparePriceMax = base_product.compare_at_price_max %}{% else %}{% assign WCProduct_ComparePriceMax = base_product.price_max %}{% endif %}
  {% assign WCProduct_VariantPrice = saw_variant_price %}
  {% assign WCProduct_VariantComparePrice = saw_variant_compare_at_price %}
{% endif %}
{% comment %} Wholesale_Club_Product_Prices End {% endcomment %}
{% if related_products == true %}
  {% assign hover_enabled = block.settings.show_related_products_title_on_hover %}
{% else %}
  {% assign hover_enabled = settings.thumbnail_hover_enabled %}
{% endif %}

{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% assign secondaryImage = product.media[1] %}

{% assign collection_handles = product.collections | map: 'handle' %}
{% if product.featured_media.preview_image.alt contains 'youtube' or image.alt contains 'vimeo' %}
  {% assign alt_text = product.title %}
{% else %}
  {% assign alt_text = product.featured_media.preview_image.alt %}
{% endif %}

{% if type == 'block' %}
  {% assign image_crop = block.settings.image_crop %}
{% else %}
  {% assign image_crop = section.settings.image_crop %}
{% endif %}

{% if section.settings.align_height == true %}
{% style %}
  .product-{{ product.id }} .image__container img,
  .product-{{ product.id }} .product-thumbnail__video .plyr {
    max-width: 100%;
    width: {{ height }}px;
    margin: 0 auto;
  }

  .shopify-model-viewer-ui model-viewer {
    --progress-bar-height: 2px;
    --progress-bar-color: {{ settings.regular_color }};
  }
{% endstyle %}
{% endif %}
{% for tag in product.tags %}
  {% if tag contains 'title_color' %}
  	{% assign colour = tag | split: ':' %}
  {% endif %}
  {% if tag contains 'image_size' %}
  	{% assign sizes = tag | split: ':' %}
  	{% assign sizes_image = sizes[1] | split: 'x' %}
  	{% assign widthImage = sizes_image[0] %}
  	{% assign heightImage = sizes_image[1] %}
  {% endif %}
{% endfor %}

<div class="item-product product__grid-item {% render 'column-width', value: section.settings.products_per_row %} columns show-border-{{ section.settings.show_border }} medium-down--one-half small-down--one-whole has-margin-bottom {% if section.settings.products_per_row == 1 %}is-horizontal{% endif %}" {% if section.settings.pagination_type != 'basic_pagination' %}data-load-more--grid-item{% endif %}">
  <div class="product-wrap">
      <div class="product-image__wrapper">
        
        <div class="shop-now">
              <a class="shop-link" href="{{ product.url | within: collection }}">{{ 'View Product' }}</a>
          </div>
        
        
        <div class="image__container product__imageContainer one--thirds">
          <a href="{{ product.url | within: collection }}">

          {% if product.featured_media.preview_image != blank %}
            <div class="image-element__wrap">
                <img  alt="{{ alt | escape }}" src="{{ product.featured_media.preview_image | img_url: '2000x' }}" />
                 {% comment %}     style="width: {{ widthImage }}px;" {% endcomment %}
               
            </div>
          {% else %}
          {% comment %}Build image element{% endcomment %}
          <div class="image-element__wrap"
                      {% if calculate_aspect_ratio %}
                        data-calculate-aspect-ratio
                      {% endif %}
                      style="{{ image_background_color }}{{ height_style }} {% unless stretch_width == true or object_fit %}max-width: {{ image.width }}px;{% endunless %}">
            <img  alt="{{ alt | escape }}"
                  class="lazyload transition--{{ settings.image_loading_style }} {{ additional_classes }}"
				  {% if low_quality_image %}
                    src="{{ low_quality_image }}"
		          {% endif %}
                  data-src="{{ image | img_url: '1600x' }}"
                  data-sizes="auto"
                  data-srcset="{{ srcset }}"
                  data-aspectratio="{{ image.width }}/{{ image.height }}"
                  height="{{ image.height }}"
                  width="{{ image.width }}"
                  srcset="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='{{ image.width }}'%20height='{{ image.height }}'></svg>"
                  style="{{ inline_style }};{{ height_style }}"
            />
          </div>
          {% endif %}

          {% comment %}Fallback for no javascript{% endcomment %}
          <noscript class="noscript">
            <img class="{{ additional_classes }}" src="{{ image | img_url: '2000x' }}" alt="{{ alt | escape }}">
          </noscript>

          </a>
        </div>

        <div class="product-info two--thirds">
          <div class="quick-shop__info">
            <div class="info">
              <p class="product-title"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></p>
              <p class="product-useful">{{ product.metafields.accentuate.useful }}</p>
            </div>
            <div class="button-cart">
              {% form 'product', product %}
                {% assign variant = product.selected_or_first_available_variant %}
                <input type="hidden" name="id" value="{{ variant.id }}" />
                  <div class="purchase-details {% if settings.display_product_quantity %}has-quantity-box{% endif %}">
                    <div class="cart-warning"></div>
                    <div class="purchase-details__buttons purchase-details__spb--{{ show_payment_button }}">
                      {% if settings.cart_action == 'reload_page' %}
                        <input type="hidden" name="return_to" value="back" />
                      {% elsif settings.cart_action == 'redirect_checkout' %}
                        <input type="hidden" name="return_to" value="/checkout" />
                      {% endif %}

                      {% if product.available %}
                        {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
                        <button {% if customer %}{% if customer.tags contains "Wholesale" or customer.tags contains "wholesale" -%}data-url-detail="{{ product.url | within: collection }}"{%- endif -%}{%- endif -%} type="{% if settings.cart_action == 'mini_cart' or settings.cart_action == 'drawer' %}button{% else %}submit{% endif %}" name="add" class="button {% if settings.cart_action == 'mini_cart' or settings.cart_action == 'drawer' %} ajax-submit {% endif %}action_button button--add-to-cart {% if show_payment_button %} action_button--secondary {% endif %}" data-label={{ add_to_cart_label | json }} data-add-to-cart-trigger>
                          <span class="text">{{ add_to_cart_label }}</span>
                          
                          
                          {% comment %} Current price {% endcomment %}
                          <span class="price{% if WCProduct_VariantComparePrice > WCProduct_VariantPrice %} sale{% endif %}">
                            <span class="current_price{% if product.available == false %} hidden{% endif %}">
                              {% if WCProduct_VariantPrice > 0 %}
                              <span class="money">
                                {% if settings.currency_format == 'money_with_currency_format' %}
                                  {% assign priceCustom = WCProduct_VariantPrice | money_with_currency %}
                                  {{ priceCustom | split: 'AUD'}}
                                {% else %}
                                  {% assign priceCustommoney = WCProduct_VariantPrice | money %}
                                  {{ priceCustommoney | split: 'AUD'}}
                                {% endif %}
                              </span>
                              {% else %}
                              {{ settings.free_price_text }}
                              {% endif %}
                            </span>
                          </span>

                          {% comment %} Compare at (original) price {% endcomment %}
                          <span class="was-price">
                            {% if WCProduct_VariantPrice < WCProduct_VariantComparePrice and variant.available %}
                            <span class="money">
                                {% if settings.currency_format == 'money_with_currency_format' %}
                                  {% assign priceCustom1 = WCProduct_VariantComparePrice | money_with_currency %}
                                  {{ priceCustom | split: 'AUD'}}
                                {% else %}
                                  {% assign priceCustommoney = WCProduct_VariantComparePrice | money %}
                                  {{ priceCustommoney1 | split: 'AUD'}}
                                {% endif %}
                            </span>
                            {% endif %}
                          </span>
                          
                          
                          
                          
                          
                        </button>
                      {% else %}
                      	<button class="button action_button button--add-to-cart" disabled>
                          <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
                          {% comment %} Current price {% endcomment %}
                          {% if WCProduct_VariantPrice > 0 %}
                          <span class="price {% if WCProduct_VariantComparePrice > WCProduct_VariantPrice %}sale{% endif %}">
                            <span class="current_price">
                              <span class="money">
                                {% render 'price-element', price: WCProduct_VariantPrice %}
                              </span>
                            </span>
                          </span>
                          {% else %}
                          <span class="price {% if WCProduct_VariantComparePrice > WCProduct_VariantPrice %}sale{% endif %}">
                            <span class="current_price">
                              {{ settings.free_price_text }}
                            </span>
                          </span>
                          {% endif %}

                          {% comment %} Compare at (original) price {% endcomment %}
                          {% if WCProduct_VariantPrice < WCProduct_VariantComparePrice and variant.available %}
                          <span class="was-price">
                            <span class="money">
                              {% render 'price-element', price: WCProduct_VariantComparePrice %}
                            </span>
                          </span>
                          {% endif %}
                        </button>                      
                      {% endif %}
                    </div>
                  </div>
              {% endform %}
            </div>
          </div>
          
        </div>

      </div>
    </div>
</div>
