{% capture content %}
<!doctype html>
<html lang="{{ shop.locale }}">
<head>
<meta name="verify-reviews" content="$2y$10$STaPGNQuUVjYlYc8pfrZc.ejt.SdxcNeA3yBPiSeZPLYh3KKtclou"> 
<meta name="facebook-domain-verification" content="mlcwg4uajyuvfvglvoan3dqe3h63cl" />
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NJDJNM8');</script>
<!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta name="google-site-verification" content="google-site-verification=RZ78nMnvw5Yy5mIydDUFPPEFYFFHktIYqa28m_2TLxI" />
  <meta http-equiv="cleartype" content="on">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.shop_bg_color }}">
  <link rel="canonical" href="{{ canonical_url }}" />
  <link rel="stylesheet" href="https://use.typekit.net/fap4zir.css">

  {%- if current_tags -%}{%- assign meta_tags = current_tags | join: ', ' -%}{%- endif -%}
  <title>{%- if template contains "index" -%}{{ page_title }}{%- else -%}{{ page_title }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{%- endif -%}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %}</title>

  <link rel="preconnect dns-prefetch" href="https://fonts.shopifycdn.com" />
  <link rel="preconnect dns-prefetch" href="https://cdn.shopify.com" />
  <link rel="preconnect dns-prefetch" href="https://v.shopify.com" />
  <link rel="preconnect dns-prefetch" href="https://cdn.shopifycloud.com" />

  {% if settings.enable_shopify_review_comments %}
    <link rel="preconnect dns-prefetch" href="https://productreviews.shopifycdn.com" />
  {% endif %}

  {{ 'fancybox.css' | asset_url | stylesheet_tag }}
  {{ 'bootstrap.css' | asset_url | stylesheet_tag }}
  {{ 'aos.css' | asset_url | stylesheet_tag }}
  {{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
  <!-- Stylesheets for Flex "2.0.5" -->
  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
  {{ 'style-guide.css' | asset_url | stylesheet_tag }}
  {{ 'header-footer.css' | asset_url | stylesheet_tag }}
  {{ 'home.css' | asset_url | stylesheet_tag }}
  {{ 'blog.css' | asset_url | stylesheet_tag }}
  {{ 'whole-sale.css' | asset_url | stylesheet_tag }}
  {{ 'help-page.css' | asset_url | stylesheet_tag }}
  {{ 'shop.css' | asset_url | stylesheet_tag }}
  {{ 'product.css' | asset_url | stylesheet_tag }}
  {{ 'stockists.css' | asset_url | stylesheet_tag }}
  {{ 'collections.css' | asset_url | stylesheet_tag }}
  {{ 'cart-buddy.css' | asset_url | stylesheet_tag }}
  {{ 'login.css' | asset_url | stylesheet_tag }}
  {{ 'account.css' | asset_url | stylesheet_tag }}
  {{ '404.css' | asset_url | stylesheet_tag }}
  {{ 'about.css' | asset_url | stylesheet_tag }}
  {{ 'cart-sidebar.css' | asset_url | stylesheet_tag }}
  {{ 'faq.css' | asset_url | stylesheet_tag }}
  {{ 'orther.css' | asset_url | stylesheet_tag }}
	{{'custom.css' | asset_url | stylesheet_tag }}
  {% if settings.show_multiple_currencies or shop.enabled_currencies.size > 1 %}
    <script type="text/javascript" src="/services/javascripts/currencies.js" ></script>
  {% endif %}
  <script>
    {% render 'js-variables' %}
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
  <script defer src="{{ 'additional-methods.js' | asset_url }}"></script>
  <script defer src="{{ 'vendors.js' | asset_url }}"></script>
  <script defer src="{{ 'utilities.js' | asset_url }}"></script>
  <script defer src="{{ 'app.js' | asset_url }}"></script>
  <script defer src="{{ 'owl.carousel.js' | asset_url }}"></script>
  <script defer src="{{ 'aos.js' | asset_url }}"></script>
  <script defer src="{{ 'jquery.matchHeight.js' | asset_url }}"></script>
  <script defer src="{{ 'jquery.ellipsis.js' | asset_url }}"></script>
  <script defer src="{{ 'custom.js' | asset_url }}"></script>
  <script defer src="{{ 'home.js' | asset_url }}"></script>
  <script defer src="{{ 'blog.js' | asset_url }}"></script>
  <script defer src="{{ 'product-detail.js' | asset_url }}"></script>
  <script defer src="{{ 'whole_sale.js' | asset_url }}"></script>

  {%- if settings.show_multiple_currencies or shop.enabled_currencies.size > 1 -%}
    <script defer src="{{ 'currencyConversion.js' | asset_url }}"></script>
  {%- endif -%}

  {%- if settings.enable_shipping_calculator and template contains "cart" -%}
    <script defer type="text/javascript" src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
    <script defer type="text/javascript" src="{{ 'api.jquery.js' | shopify_asset_url }}"></script>
    <script defer type="text/javascript" src="/services/javascripts/countries.js"></script>
  {%- endif -%}

  <noscript>
    <style>
      /* Insert styles for styles when JS is not loaded */

      .noscript {
        display: block;
      }

    </style>
  </noscript>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}" />
  {%- endif -%}

  {%- if settings.favicon != nil -%}
    <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '180x180' }}">
    <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ settings.favicon | img_url: '57x57' }}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ settings.favicon | img_url: '60x60' }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ settings.favicon | img_url: '72x72' }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ settings.favicon | img_url: '76x76' }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ settings.favicon | img_url: '114x114' }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="228x228" href="{{ settings.favicon | img_url: '228x228' }}"/>
  {%- else -%}
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
  {%- endif -%}

  {%- if template.directory == 'customers' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
    <script src="{{ 'customer_area.js' | shopify_asset_url }}"></script>
  {%- endif -%}

  {{ content_for_header }}

  {% render 'social-meta-info' %}
  {% if collection.previous_product %}<link rel="prev" href="{{ collection.previous_product }}">{% endif %}
  {% if collection.next_product %}<link rel="next" href="{{ collection.next_product }}">{% endif %}
  {% include 'judgeme_core' %}
{% include 'wsg-header' %}
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/OcaVZm43UBQVhr9koSAQZQ" async></script>


        {% render 'digismoothie-candyrack' %}
        </head>
        
  
  

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ routes.search_url }}?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}

{% for locale in shop.enabled_locales %}
  {% if locale.primary == true %}
    {% assign defaultLocale = locale.iso_code %}
  {% endif %}
{% endfor %}

<body class="{%- if template == '404' -%}
              error-404
            {% else -%}
              {{ template | replace: '.', '-' | handle }}
            {%- endif -%}
            {% if settings.header_layout == 'vertical' -%}
              has-vertical-header
            {%- endif -%} 
            {% if customer %}
              {% if customer.tags contains "Wholesale" or customer.tags contains "wholesale" -%}
                  {{ 'customer-wholesalse' }}
              {%- endif -%}
            {%- endif -%}"
      data-money-format="
        {%- if settings.currency_format == 'money_with_currency_format' -%}
          {{ shop.money_with_currency_format | strip_html }}
        {%- else -%}
          {{ shop.money_format | strip_html }}
        {%- endif -%}"
      data-shop-url="{{ shop.url }}"
      data-default-lang="{{ defaultLocale }}"
      data-current-lang="{{ request.locale.iso_code }}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJDJNM8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  {%- if settings.show_announcement_bar -%}
    {% section 'announcement-bar' %}
  {%- endif -%}
  {%- if settings.header_layout == "classic" -%}
    {% section 'header__top-bar' %}
    {% section 'header-classic' %}
  {%- elsif settings.header_layout == "centered" -%}
    {% section 'header-centered__top-bar' %}
    {% section 'header-centered' %}
  {%- elsif settings.header_layout == "vertical" -%}
    {% section 'header-vertical' %}
  {%- elsif settings.header_layout == "search_focus" -%}
    {% section 'header__top-bar' %}
    {% section 'header-search-focus' %}
  {%- endif -%}

  {%- if settings.cart_action == 'drawer' -%}
    {% render 'ajax-cart' %}
  {%- endif -%}

  {% if settings.mega_menu_1 == true %}
    {% section 'mega-menu-1' %}
  {% endif %}
  {% if settings.mega_menu_2 == true %}
    {% section 'mega-menu-2' %}
  {% endif %}
  {% if settings.mega_menu_3 == true %}
    {% section 'mega-menu-3' %}
  {% endif %}
  {% if settings.mega_menu_4 == true %}
    {% section 'mega-menu-4' %}
  {% endif %}
  {% if settings.mega_menu_5 == true %}
    {% section 'mega-menu-5' %}
  {% endif %}
  {% if settings.mega_menu_6 == true %}
    {% section 'mega-menu-6' %}
  {% endif %}
  {% if settings.mega_menu_7 == true %}
    {% section 'mega-menu-7' %}
  {% endif %}
  {% if settings.mega_menu_8 == true %}
    {% section 'mega-menu-8' %}
  {% endif %}
  {% if settings.mega_menu_9 == true %}
    {% section 'mega-menu-9' %}
  {% endif %}
  {% if settings.mega_menu_10 == true %}
    {% section 'mega-menu-10' %}
  {% endif %}

  {% if settings.header_layout == "vertical" %}
    <div class="is-beside-vertical-header">
  {% endif %}
  
  {% if template == 'page.stockists' %}
  <main id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section default-page">
    {{ content_for_layout }}
  </main>
  {% else %}
  {{ content_for_layout }}
  {% endif %}

  {% section 'footer__icon-bar' %}
  {% section 'footer-classic' %}

  {% if settings.header_layout == "vertical" %}
    </div>
  {% endif %}

  {% if settings.show_fixed_message %}
    {% section 'fixed-message' %}
  {% endif %}

  {% if settings.enable_quickshop %}
    {% render 'quick-shop' %}
  {% endif %}

  {% if settings.search_display_style == 'popup' %}
    {% render 'search-popup' %}
  {% endif %}

  {% if settings.show_popup %}
    {% section 'popup' %}
  {% endif %}


  {% if settings.disqus_enabled %}
    {% if template contains "blog" or template contains "article" or template contains "index" %}
      <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" async></script>
    {% endif %}
  {% endif %}
{%- comment -%}
<!-- Start of buddypet Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=0cbf1fb4-f179-4f44-9e77-9e11e6931af7"> </script>
<!-- End of buddypet Zendesk Widget script -->
{%- endcomment -%}
  <script src="https://schemaplus-cdn.s3.amazonaws.com/loader-676db5c9d082473fddf6c6f8f88ca467-buddy-pet-aus.min.js" async></script>
</body>
</html>
{% endcapture %}
{% assign content = content | replace_first: '<!doctype', '!doctype' | split: ' <' %}
{%- for html in content -%}{%- assign htmlblock = html | strip | prepend: ' <' -%}{{htmlblock | replace: ' </', '</'}}{%- endfor -%}
