{% if section.settings.blog and section.settings.blog.articles.size > 0 %}
  <div class="container {{ section.settings.css_class }}" data-section-type="featured-blog">
    <div class="section-header">
      <h3 class="section-header__title">{{- section.settings.title -}}</h3>
    </div>
    <div class="articles">
      <div class="home-featured-blog list-blog owl-carousel owl-theme">
        {% for article in section.settings.blog.articles%}
          <div class="featured-article blog-card article card show-border-true">
            <div class="article-image card-image blog-card__image">
              <figure class="image">
                <a href="{{ article.url }}" title="{{ article.title | escape }}" style="background-image: url({{ article.image | img_url: '800x' }})">
                  {% render 'image-element',
                    image: article.image,
                    alt: article.image.alt,
                    stretch_width: '800x'
                  %}
                </a>
              </figure>
            </div>
            <div class="article-content left-content">
              <div class="card-content blog-card__content">
                <div class="meta-info is-small"> 
                  <div class="meta-info-date is-small"> 
                    <ul class="meta-info-list"> 
                      <li class=""> 
                      <span class="featured-article__date">
                          {% assign d = article.published_at | date: "%-d" %}
                        {% case d %}{% when "1" or "21" or "31" %}{{ d }}ST{% when "2" or "22" %}{{ d }}ND{% when "3" or "23" %}{{ d }}RD{% else %}{{ d }}TH{% endcase %}
                        {{ article.published_at | date: "%B" }} 
                        {{ article.published_at | date: "%Y" }}
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
                
                <div class="media"> 
                  <div class="media-content"> 
                    <div class="title"> 
                      <h4 class="featured-article--link">
                        <a href="{{ article.url }}">
                          {{ article.title }}
                        </a>
                      </h4>
                    </div>
                  </div>
                </div>
                
                <div class="name-title">{{ article.metafields.accentuate.useful }}</div>
                
                {% if article.excerpt != blank %}
                  <div class="article-excerpt excerpt ">{{ article.excerpt }}</div>
                {% endif %}
                
                <div class="meta-info is-small">
                    <div class="blog-card__read-more buttons">
                    <a class="read-more" href="{{ article.url }}" title="{{ article.title | escape }}">{{ 'blogs.general.continue_reading_html' | t }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Featured Blog",
    "class": "featured-blog",
    "settings": [
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "header",
        "content": "Advanced"
      },
      {
        "type": "text",
        "id": "css_class",
        "label": "CSS Class"
      }
    ],
    "presets": [
      {
        "name": "Featured Blog",
        "category": "Home"
      }
    ]
  }
{% endschema %}