{% comment %}
** Image with text - dynamic **
- Draggable section
- Uses blocks
{% endcomment %}

{% assign id = section.id %}
{% comment %} Layout {% endcomment %}
{% assign background_color = section.settings.background_color %}

{% comment %} HTML markup {% endcomment %}
<section class="section "
         {% if background_color != blank %}
         style="background-color: {{ background_color }};"
         {% endif %}
         data-section-type="hemp-help">
  <div class="container">
    <div class="row">
      <div class="col-12 section-content">
      	<div class="section-inner">
          {% if section.settings.title != blank %}
          	<h2>{{ section.settings.title }}</h2>
          {% endif %}
          <div class="col-12 section-description">
            <div class="row">
              <div class="col-12 col-md-6">
              {% if section.settings.content_left != blank %}
                <div class="image-with-text__text content">
                  {{ section.settings.content_left }}
                </div>
              {% endif %}
              </div>
              <div class="col-12 col-md-6">
                {% if section.settings.content_right != blank %}
                <div class="image-with-text__text content">
                  {{ section.settings.content_right }}
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="hemp-image"  data-aos="zoom-out-up" data-aos-delay="300" data-aos-duration="1000">
          {% if section.settings.image != blank %}
            {% render 'image-element',
                          image: section.settings.image,
                          additional_classes: 'image-with-text__image image-right'
            %}
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% if section.settings.section_background %}
  <style>
    [data-section-type="hemp-help"]:after{
      background-image: url("{{section.settings.section_background | image_url}}");
      content: '';
      display: inline-block;
    }
  </style>
{% endif %}
{% schema %}
{
  "name": "Hemp Hemp Help",
  "class": "image-with-text image-with-text-1 home-hemp-help",
  "settings": [
    {
      "type": "image_picker",
      "id": "section_background",
      "label": "Section Background"
    },
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "content_left",
      "label": "Text Left"
    },
    {
      "type": "richtext",
      "id": "content_right",
      "label": "Text Right"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    }
  ],
  "presets": [
    {
      "name": "Hemp Hemp Help"
    }
  ]
}
{% endschema %}
