<div data-section-type="page-blogs-description" data-section-id="{{section.id}}">
    <div class="container">
        <div class="blogs--main__description--wrapper">
            <div class="section--image__block">
                {%- if section.settings.author_image != blank -%}
                    <img src="{{section.settings.author_image | image_url: width: section.settings.author_image_width }}" alt="{{section.settings.author_image.alt}}" width="{{section.settings.author_image_width}}" height="{{section.settings.author_image_width | divided_by: section.settings.author_image.aspect_ratio | floor}}" loading="lazy" class="blogs--author">
                {%- else -%}
                    <img src="{{'author_image_placeholder.png' | asset_img_url: section.settings.author_image_width}}" width="{{section.settings.author_image_width}}" loading="lazy" class="blogs--author placeholder">
                {%- endif -%}
            </div>
            <div class="section--main__content">
                <div class="blogs-page--description">{{section.settings.content | default: page.description}}</div>
                <div class="blogs--author__meta">
                    <span class="follow--author">{{section.settings.follow_author_text}}</span>
                    {%- if section.blocks.size > 0 -%}
                        <div class="author--social__liniks">
                            {% for block in section.blocks %}
                                <a href="{{block.settings.social_link}}" class="author--social__link">
                                    {%- if block.settings.social_icon -%}
                                        <img src="{{block.settings.social_icon | image_url: width: 30}}" alt="{{block.settings.social_type}}" width="30" height="{{30 | divided_by: block.settings.social_icon.aspect_ratio | floor }}" loading="lazy" class="social-icon">           
                                    {%- else -%}
                                        {{block.settings.social_type}}
                                    {%- endif -%}
                                </a>
                            {% endfor %}
                        </div>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</div>
{% style %}
    {%- if section.settings.background != blank -%}
        [data-section-id="{{section.id}}"]{
            position: relative;
        }
        [data-section-id="{{section.id}}"]::before{
            content: '';
            background-image: url("{{section.settings.background | image_url}}"); 
            width: {{section.settings.background.width}}px; 
            height: {{section.settings.background.height}}px;
            position: absolute;
        }
        
    {%- endif -%}
    [data-section-id="{{section.id}}"] .section--image__block{
        flex: 1 1 {{section.settings.author_image_width}}px; 
        max-width: {{section.settings.author_image_width}}px;
    }
    [data-section-id="{{section.id}}"] .section--main__content{
        flex: 1 1 calc(100% - {{section.settings.author_image_width | times: 1}}px); 
        max-width: calc(100% - {{section.settings.author_image_width | times: 1}}px);
    }
{% endstyle %}
{% schema %}
{
    "name":"Page-Blogs descritpion", 
    "templates":["page"],
    "settings":[
        {
            "type": "richtext",
            "id": "content",
            "label": "Content"
        },
        {
            "type": "image_picker",
            "id": "author_image",
            "label": "Author Image"
        },
        {
            "type": "range",
            "id": "author_image_width",
            "label": "Author image width",
            "unit": "px",
            "min": 100,
            "max": 500,
            "step": 5,
            "default": 380
        },
        {
            "type": "text",
            "id": "follow_author_text",
            "label": "Follow Author Text",
            "default":"Follow Ailsa's blog on"
        },
        {
            "type": "image_picker",
            "id": "background",
            "label": "Background"
        }
    ], 
    "blocks":[
        {
            "type":"author_social", 
            "name":"Author Social Link",
            "settings":[
                {
                    "type":"text", 
                    "id":"social_type", 
                    "label":"Social Type"
                },
                {
                    "type": "image_picker",
                    "id": "social_icon",
                    "label": "Social Icon"
                },
                {
                    "type": "url",
                    "id": "social_link",
                    "label": "Social Link"
                }
            ]
        }
    ],
    "presets":[
        {
            "name":"Page- Blogs description"
        }
    ]
}
{% endschema %}